doctype html5
html(lang='es-MX' dir="ltr")
  head
    meta(charset="utf-8")
    title citas_proveedores | 

    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    link(rel="stylesheet" href="public/styles.css")
    link(rel="icon", type="image/x-icon", href="public/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="manifest", href="/public/manifest.json")
    meta(name="theme-color" content="#1976d2")
  body
    section(class="")
      div(class="row")
        div(class="col s12 m10 l8 offset-m1 offset-l2 z-depth-2 white")
          div(class="row")
            div(class="col s12 center-align banner-header")
          div(class="row")
            div(class="col s6 separator")
              div(class="row")
              div(class="row")
               
              div(class="row")   
            div(class="col s6")
              div(class="row")
                div(class="col s12 left-align")
                  h4 #{project} → #{version}
                  h5 #{description}